*{
  margin: 0%;
}

html {
height:100%;
}

::selection {
  background-color: #ffe3e3;
}

.cat {
  height: 250px;
  }

  #path6130 {
    animation-name: eyemove;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  @keyframes eyemove {

    20% {
      transform: translateX(5px);
    }

    30% {
      transform: translateX(-5px);
    }

  }

a:visited {
  color: #0C57C7;
}

  p, footer {
    line-height: 160%;
    font-family: 'Vollkorn', serif;
    color: #0C57C7;

}

ul {
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
}

ul {
    -webkit-padding-start: 0px;
}
ul li{
font-family: 'Poppins', sans-serif;
font-size: 15px;
padding-top: 10px;
color: #0C57C7;
display: inline-block;
margin: 0 15px;
text-decoration: underline;

}



.intro {
  text-align: center;
  position: absolute;
  top: 14rem;
  left: 0;
  right: 0;
}

#start .left {
height: 100vh;
}

.left {
    background: #ffffc6;
    width: 50%;
}


h1, h2, h3, h4, h5{
font-family: 'Poppins', sans-serif;
color: #0C57C7;
}



.link {
  padding-bottom: 2px;
  border-bottom: 2px solid;
  display: inline-block;
}


.stickers {
    background-color: #fff;
    background-image: url(../img/gifs.gif);
    background-size: 50%;
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
    padding: 150px;
}

.wielding-magic {
  background-color: #fff;
  background-image: url(../img/magic.jpg);
  background-size: 50%;
  background-repeat: repeat-y;
  background-position: left;
  background-attachment: fixed;
  padding: 10px;
  line-height: 40px;
}

.one-line {
  white-space: nowrap;
}

.animation {
    background-color: #fff;
    background-image: url(../img/animation.gif);
    background-size: 50%;
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
    padding: 150px;
    line-height: 40px;
}


.artwork {
  background-color: #fff;
  background-image: url(../img/art.jpeg);
  background-size: 50%;
  background-repeat: repeat-y;
  background-position: left;
  background-attachment: fixed;
  padding: 40px;
}

.about-img {
      width: 200px;
      margin-left: 100px;
  }

.stickers:hover, .wielding-magic:hover, .animation:hover, .artwork:hover {
background-color: lightpink;
}



.col-left {
    float: left;
    width: 50%;
    padding: 10px;
/*    height: 30px; /* Should be removed. Only for demonstration */

}

.col-right {
    float: right;
    width: 50%;
    padding: 80px;
/*    height: 30px; /* Should be removed. Only for demonstration */

}


.caption-stickers, .caption-animation {
text-align: left;
line-height: 300%;
}

.caption-magic, .caption-art {
text-align: right;
line-height: 300%;
}

.info {
margin-left: 370px;
}


.writing-mode {
      position: fixed;
      background-color: #ffe3e3;
  /*    height: 210px; */
      width: 65px;
      right: 0;
      top: 220px;
      border-top: 3px solid #0C57C7;
      border-bottom: 3px solid #0C57C7;
      border-left: 3px solid #0C57C7;
      z-index: 3000;
}

.social-icon {
    height: 40px;
    margin: 0 auto;
    width: 40px;
    border: 3px solid #fff;
    border-radius: 30px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #0C57C7;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}

.caption-art {
text-align: left;
padding-right: 200px;
}


footer {
  width: 100%;
  padding: 60px 0;
  margin-top: 0;
  text-align: center;
  border-top: 2px solid #0C57C7;
  background: #ffffc6;
}
